:root.theme-dark {
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-dark-text-color: #000028;
  --accent-text-color: #ff0070;
  --accent-bg-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --text-link-color: #f1b2ce;
  --shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decor-element-color: #ff0070;
  --display-decor-element: block;
}
