:root.theme-dark {
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-dark-text-color: #000028;
  --accent-text-color: #FF0070;
  --accent-bg-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --atricle-link-color: #F1B2CE;
  --text-link-color: #F1B2CE;
  --shadow-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decor-element-color: #FF0070;
}
