:root.theme-light {
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-dark-text-color: #353430;
  --accent-text-color: #353430;
  --accent-bg-color:#FF8DCB;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --atricle-link-color: #353430;
  --shadow-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --decor-element-color: #353430;
  --display-decor-element: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --accent-dark-text-color: #353430;
    --accent-text-color: #353430;
    --accent-bg-color:#FF8DCB;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --atricle-link-color: #353430;
    --shadow-color: #FF8DCB;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --decor-element-color: #353430;
    --display-decor-element: none;   
  }
}
